#navbar{
    background-color: cyan;
    padding-top: 20px;
    padding-bottom: 20px;
}



#INFORMACION{
    background-color: khaki;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#TITULOMASCOTAS{
    background-color: khaki;
    padding-top: 20px;
    padding-bottom: 20px;
}