p{
    font-size: 20px;
    margin-left: 10px;
    }



h1{
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 70px;
    text-decoration: underline;
}



h2{
    font-size: 22px;
    margin-left: 10px;
}

    
q{
    font-size: 20px;}


p, h2, h1,q{
    
    font-family: sans-serif;
}

.Titulo{

    margin-left: 400px;
}

li{
    margin-top: 10px;
}
ul{
    margin-bottom: 70px;
}

nav p{
    font-size: 18px;
    text-align-last: left;
}


