p{
    font-size: 20px;
    margin-left: 30px;
    }



h1{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
    text-align: center;
}



h2{
    font-size: 22px;
    margin-left: 30px;
}

h4{
    margin-left: 30px;
}

p, h2, h1,q{
    
    font-family: sans-serif;
}


li{
    margin-top: 10px;
    margin-left: 20px;
}
ul{
    margin-bottom: 70px;
    margin-left: 20px;
}

img{
    margin-left: 30px;
    border: solid;
}

nav{
    text-align:right;
    margin: 0px;
    padding: 0px;
}


.nombrepagina{
    text-align: left;  /* aqui queria alinear la barra de navegacion con el nombre de la asociacion de perros*/
    float: left;
}

.margennav{

    margin: 0px;
    padding :15px;

}
