.P1, .P2, .P3{
    font-size: 20px;
    margin-left: 500px;
    padding: 50px;
    margin-right: 60px;
 }

 p, h2, h1,q{
    font-family: sans-serif;
}

h1{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 100px;
}



img{ 
    float:left;
    height: 500px;
    width: 460px;
    margin-left: 30px;
    border: solid;

}

table{
    margin-top: 100px;
    margin-left: 30px;
    
}

.th1 , .th2 , .th3 {
    font-size: 22px;
    margin-right: 50px;
    margin-left: 50px;
}


nav{
    text-align:right;
    margin: 0px;
    padding: 0px;
} 

nav p{
    font-size: 20px;
}


div{
    padding-bottom: 700px;
}



q{
    float: right;
    margin-top: 50px;
    margin-right: 130px;
}

.espacioanimales{
    padding: 30px;
}
